/*responsive for mobile*/
a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
@media (max-width: 766px) {
  body {
    width: 100%;
    height: 800px;

    background-image: linear-gradient(
      to top,
      #000000,
      #3a111b,
      #701025,
      #a80b26,
      #dd1818
    );
    background-repeat: no-repeat;
  }

  .texto1 {
    position: relative;
    width: 200px;
    color: #faf9f9;
    font-family: "Chonburi", cursive;
    text-align: center;
    left: 20%;
    margin-top: 100px;
    font-size: 10px;
    /*animation-name: movingHello;
    animation-duration: 3s;*/
  }
  .texto2 {
    width: 200px;
    color: #3a111b;
    font-family: "Chonburi", cursive;
    font-size: 10px;
    text-align: center;
    position: relative;
    left: 20%;

    /*animation-name: movingWelcome;
    animation-duration: 3s;*/
  }
  .div-photo {
    position: relative;
    width: 150px;
    height: 150px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f9faf9;
    margin-left: 28%;
    margin-top: 50px;
    box-shadow: 3px 1px 10px 1px #040504;
    background-image: url(../images/fotoperfil.png);
    background-size: contain;
  }
  .texto3 {
    position: relative;
    width: 300px;
    left: 10%;
    font-family: "Pompiere", cursive;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    color: white;
    animation-name: movingbottomText;
    animation-duration: 3s;
    animation-delay: 2s;
  }
  .boton1 {
    position: relative;
    width: 150px;
    height: 40px;
    outline: none;
    left: 30%;
    background-color: #dd1818;
    color: white;
    border: 1px solid white;
    font-family: "Pompiere", cursive;
    -webkit-border-radius: 47px;
    -moz-border-radius: 47px;
    border-radius: 47px;
    font-size: 30px;
    margin-top: 20px;

    animation-name: movingbutton;
    animation-duration: 1s;
    animation-delay: 5s;
  }
}

/*responsive tablets*/
@media (min-width: 768px) {
  body {
    width: 100%;

    background-image: linear-gradient(
      to top,
      #000000,
      #3a111b,
      #701025,
      #a80b26,
      #dd1818
    );
    background-repeat: no-repeat;
  }

  .texto1 {
    position: relative;
    width: 200px;
    color: #faf9f9;
    font-family: "Chonburi", cursive;
    text-align: center;
    left: 39%;
    margin-top: 100px;
    font-size: 20px;
    animation-name: movingHello;
    animation-duration: 3s;
  }
  .texto2 {
    width: 200px;
    color: #3a111b;
    font-family: "Chonburi", cursive;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 35%;

    animation-name: movingWelcome;
    animation-duration: 3s;
  }
  .div-photo {
    position: relative;
    width: 300px;
    height: 300px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f9faf9;
    margin-left: 32%;
    margin-top: 100px;
    box-shadow: 3px 1px 10px 1px #040504;
    background-image: url(../images/fotoperfil.png);
    background-size: contain;
  }
  .texto3 {
    position: relative;
    width: 300px;
    left: 34%;
    font-family: "Pompiere", cursive;
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
    color: white;
    animation-name: movingbottomText;
    animation-duration: 3s;
    animation-delay: 2s;
  }
  .boton1 {
    position: relative;
    width: 150px;
    height: 40px;
    outline: none;
    left: 44%;
    background-color: #dd1818;
    color: white;
    border: 1px solid white;
    font-family: "Pompiere", cursive;
    -webkit-border-radius: 47px;
    -moz-border-radius: 47px;
    border-radius: 47px;
    font-size: 30px;
    margin-top: 50px;

    animation-name: movingbutton;
    animation-duration: 1s;
    animation-delay: 5s;
  }
}

/*responsive for laptop*/

@media (min-width: 1200px) {
  body {
    width: 100%;

    background-image: linear-gradient(
      to top,
      #000000,
      #3a111b,
      #701025,
      #a80b26,
      #dd1818
    );
    background-repeat: no-repeat;
  }

  .texto1 {
    position: relative;
    width: 200px;
    color: #faf9f9;
    font-family: "Chonburi", cursive;
    text-align: center;
    left: 41%;
    margin-top: 10px;
    font-size: 12px;
    animation-name: movingHello;
    animation-duration: 3s;
  }
  .texto2 {
    width: 200px;
    color: #3a111b;
    font-family: "Chonburi", cursive;
    font-size: 12px;
    text-align: center;
    position: relative;
    left: 41%;

    animation-name: movingWelcome;
    animation-duration: 3s;
  }
  .div-photo {
    position: relative;
    width: 230px;
    height: 230px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f9faf9;
    margin-left: 40%;
    margin-top: 20px;
    box-shadow: 3px 1px 10px 1px #040504;
    background-image: url(../images/fotoperfil.png);
    background-size: contain;
  }
  .texto3 {
    position: relative;
    width: 300px;
    left: 38%;
    font-family: "Pompiere", cursive;
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    color: white;
    animation-name: movingbottomText;
    animation-duration: 3s;
    animation-delay: 2s;
  }
  .boton1 {
    position: relative;
    width: 140px;
    height: 40px;
    outline: none;
    left: 44.5%;
    background-color: #dd1818;
    color: white;
    border: 1px solid white;
    font-family: "Pompiere", cursive;
    -webkit-border-radius: 47px;
    -moz-border-radius: 47px;
    border-radius: 47px;
    font-size: 20px;
    margin-top: 20px;

    animation-name: movingbutton;
    animation-duration: 1s;
    animation-delay: 5s;
  }
}
/*responsive desing for big screens*/
@media (min-width: 1800px) {
  body {
    width: 100%;

    background-image: linear-gradient(
      to top,
      #000000,
      #3a111b,
      #701025,
      #a80b26,
      #dd1818
    );
    background-repeat: no-repeat;
  }

  .texto1 {
    position: relative;
    width: 300px;
    color: #faf9f9;
    font-family: "Chonburi", cursive;
    font-size: 25px;
    text-align: center;
    left: 40%;
    margin-top: 80px;
  }
  .texto2 {
    width: 300px;
    color: #dd1818;
    font-family: "Chonburi", cursive;
    font-size: 25px;
    text-align: center;
    position: relative;
    left: 40%;
  }
  .div-photo {
    width: 300px;
    height: 300px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #f9faf9;
    margin-left: 40%;
    margin-top: 70px;
    box-shadow: 3px 1px 10px 1px #040504;
    background-image: url(./images/fotoperfil.png);
    background-size: contain;
  }
  .texto3 {
    position: relative;
    width: 300px;
    margin-left: 2%;
    font-family: "Pompiere", cursive;
    font-size: 40px;
    text-align: center;

    margin-top: 50px;
    color: white;
    animation-name: movingbottomText;
    animation-duration: 3s;
    animation-delay: 2s;
  }
  .boton1 {
    position: relative;
    width: 200px;
    height: 50px;
    outline: none;
    left: 43%;
    background-color: #dd1818;
    color: white;
    border: 1px solid white;
    font-family: "Pompiere", cursive;
    -webkit-border-radius: 47px;
    -moz-border-radius: 47px;
    border-radius: 47px;
    font-size: 30px;
    animation-name: movingbutton;
    animation-duration: 1s;
    animation-delay: 5s;
  }
}

@keyframes movingHello {
  from {
    left: 30%;
  }
  to {
    left: 41%;
  }
}
@keyframes movingWelcome {
  from {
    left: 60%;
  }
  to {
    left: 41%;
  }
}
@keyframes movingbottomText {
  0% {
    top: 0px;
  }
  50% {
    top: -30px;
  }
  100% {
    top: 0px;
  }
}
@keyframes movingbutton {
  0% {
    left: 43%;
  }
  15% {
    left: 45%;
    background: white;
    color: #dd1818;
  }
  25% {
    left: 43%;
  }
  35% {
    left: 42%;
    background: #f0a3a3;
    color: #dd1818;
  }
  45% {
    left: 43%;
  }
  55% {
    left: 45%;
    background: #630606;
    color: white;
  }
  65% {
    left: 42%;
    background: white;
    color: #dd1818;
  }
  75% {
    left: 43%;
    background: #f0a3a3;
    color: #dd1818;
  }
  100% {
    left: 45%;
    background: #630606;
    color: white;
  }
}
