body {
  margin: 0px;
}
header {
  background-image: linear-gradient(
    to top,
    #000000,
    #3a111b,
    #701025,
    #a80b26,
    #dd1818
  );
  background-repeat: no-repeat;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  text-align: center;
  margin-left: 0px;
}
.section-per-info {
  font-family: "Crimson Text", serif;
  font-size: 20px;
  color: rgb(228, 224, 224);
}
.text {
  color: rgb(7, 7, 7);
  font-family: "Libre Caslon Display", serif;
  text-transform: uppercase;
}
.text2 {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.texto-portafolio {
  color: rgb(70, 68, 68);
  font-family: "Crimson Text", serif;
  font-size: 20px;
}

.div-projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.style-div-projects {
  text-align: center;
  color: black;
  margin-left: 20px;
}
.style-div-projects p {
  margin-left: 140px;
}

.img-projects {
  width: 200px;
  height: 200px;
  box-shadow: -4px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.img-projects:hover {
  opacity: 0.8;
}

.info-tecnologies {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  background: linear-gradient(to top, #000000 0%, #0a0807 50%, #dd1818 100%);
  color: rgb(163, 161, 161);
  text-align: center;
  font-size: 30px;
}
.divs-icons-tecnologies {
  font-size: 15px;
  padding-top: 100px;
}
.title-tec-section {
  width: 100%;
  text-align: center;
  color: rgb(170, 166, 166);
  font-size: 30px;
  position: relative;
  top: 100px;
  z-index: 1;
}
.info-contact {
  width: 100%;

  position: absolute;
}
.info-contact h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}
.info-contact p {
  text-align: center;
  margin-left: 120px;
  color: rgb(104, 101, 101);
  font-family: "Crimson Text", serif;
  font-size: 20px;
}
.form-contact1 {
  position: absolute;
  font-family: "Libre Caslon Display", serif;
  z-index: 1;
}
.form-contact {
  width: 400px;
  height: auto;
  background-color: rgb(204, 204, 204);
  border-radius: 15px;
  padding-top: 20px;
}
.form-contact h2 {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Libre Caslon Display", serif;
  background: linear-gradient(#dd1818, #a80b26, #701025, #000000, #3a111b);
  -webkit-background-clip: text;
  color: transparent;
}
.titles-form {
  margin-left: 40px;
  background: linear-gradient(#dd1818, #a80b26, #701025, #000000, #3a111b);
  -webkit-background-clip: text;
  color: transparent;
}

input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid;
  background-color: rgb(204, 204, 204);
  width: 75%;
  margin-left: 40px;
  padding: 10px;
}
.text-area {
  width: 315px;
  height: 150px;
  border-radius: 15px;
  margin-left: 40px;
}
.send-button {
  width: 70px;
  height: 40px;
  margin-left: 290px;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 0;
  background: linear-gradient(#dd1818, #a80b26, #701025, #000000, #3a111b);
  color: rgb(173, 172, 172);
  cursor: pointer;
}
.footer {
  width: 100%;
  height: 300px;
  background-color: #000000;
  position: absolute;
  top: 800px;
  color: grey;
  text-align: center;
}
.footer h2 {
  margin-top: 150px;
}
.info-social i {
  margin-left: 15px;
}
a {
  text-decoration: none;
}

/*mobile responsive*/
@media (max-width: 660px) {
  body {
    width: 100%;
  }

  header {
    width: 100%;
    height: 800px;
  }
  .nav-bar {
    width: 100%;
    background-color: #000000;
    padding-top: 30px;
  }
  .section-per-info {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    justify-content: center;
  }
  .text {
    font-size: 25px;
  }

  .portafolio-section {
    width: 100%;
    height: 900px;
    text-align: center;
    margin-top: 50px;
  }
  .div-wave {
    width: 100%;
    position: absolute;
    top: 790px;
  }

  .div-projects {
    flex-flow: column;
  }
  .info-tecnologies {
    top: 3570px;
    height: auto;
  }
  .info-tecnologies i {
    margin: 5px;
  }

  .title-tec-section {
    width: 100%;
    top: 1810px;
  }
  .title-tec-section h4 {
    font-size: 25px;
  }
  .info-contact {
    margin-top: 1980px;
  }
  .info-contact h1 {
    font-size: 25px;
  }
  .info-contact p {
    margin-left: -5px;
  }
  .form-contact1 {
    width: 100%;
    margin-top: 40px;
  }
  .form-contact {
    width: 100%;
    height: auto;
    border-radius: 0%;
  }
  .text-area {
    width: 80%;
    height: 150px;
    border-radius: 15px;
    margin-left: 40px;
  }
  .send-button {
    width: 50px;
    height: 30px;

    margin-top: -10px;
  }
  .footer {
    margin-top: 30px;
  }
}
/* tablets responssive*/
@media (min-width: 680px) {
  header {
    height: 600px;
  }
  .nav-bar {
    flex-flow: column;
    float: left;
    width: 150px;
    height: 100%;
    background-color: rgb(7, 7, 7);
    position: fixed;
    z-index: 1;
    margin-left: 0px;
  }
  .section-per-info {
    text-align: center;
    height: 460px;
    padding-top: 20px;
    justify-content: center;
    padding-right: 10px;
    padding-left: 150px;
  }
  .section-per-info p {
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(255, 255, 255);
  }
  .div-wave {
    width: 100%;
    position: absolute;
    top: 560px;
  }
  .portafolio-section {
    width: 100%;
    margin-top: 70px;
  }
  .text {
    text-align: center;
    padding-left: 150px;
    font-size: 25px;
  }
  .texto-portafolio {
    text-align: center;
    font-size: 20px;
    padding-left: 200px;
    padding-right: 50px;
  }
  .div-projects {
    padding-top: 20px;
    padding-left: 150px;
  }
  .info-tecnologies {
    height: auto;
  }
  #html5 {
    padding-left: 150px;
  }
  .title-tec-section {
    padding-left: 150px;
    width: 80%;
  }
  .info-contact {
    width: 91%;
    margin-top: 250px;
    padding-left: 60px;
  }
  .info-contact h1 {
    padding-left: 70px;
  }
  .info-contact p {
    margin-left: 100px;
  }
  .form-contact1 {
    margin-left: 195px;
    margin-top: 30px;
  }
  .footer {
    width: 93%;
  }
  .footer h2 {
    margin-left: 75px;
  }
  .info-social {
    margin-left: 60px;
  }
}
/*big tablets responssive*/
@media (min-width: 1024px) {
  body {
    width: 100%;
  }
  .header {
    width: 100%;
  }
  .section-per-info p {
    padding-left: 100px;
    padding-right: 100px;
  }

  .texto-portafolio {
    text-align: center;
    padding-left: 250px;
    padding-right: 100px;
  }

  .info-tecnologies {
    width: 100%;
  }
  .info-contact h1 {
    margin-top: 20px;
    margin-left: 35px;
  }
  .info-contact p {
    margin-left: 120px;
  }
  .form-contact1 {
    margin-top: 40px;
    padding-left: 130px;
  }

  .footer {
    width: 97%;
  }
}
/*laptop responssive*/
@media (min-width: 1280px) {
  header {
    height: 600px;
  }
  .section-per-info p {
    margin-top: 70px;
  }
  .div-wave {
    width: 100%;
    position: absolute;
    top: 586px;
  }
  .info-tecnologies {
    width: 100%;
  }
  .title-tec-section {
    padding-left: 200px;
  }
  .info-contact h1 {
    margin-left: 54px;
  }
  .info-contact p {
    margin-left: 140px;
  }
  .form-contact1 {
    padding-left: 250px;
  }
  .footer {
    width: 100%;
  }
}
/*big screens and desktop responssive*/
@media (min-width: 1824px) {
  header {
    height: 855px;
  }
  .section-per-info p {
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
  }
  .div-wave {
    top: 855px;
  }
  .title-tec-section {
    padding-left: 260px;
  }
  .info-contact {
    margin-top: 350px;
    margin-left: 20px;
  }
  .info-contact p {
    margin-left: 130px;
  }
  .form-contact1 {
    margin-top: 80px;
    margin-left: 475px;
  }
  .footer {
    width: 102%;
  }
  .footer h2 {
    margin-top: 180px;
    margin-left: 10px;
  }
  .info-social {
    margin-left: -10px;
  }
}
